:root{
    --notification-bg: rgba(180,88,88);
    --notification-txt: rgb(211, 211, 211);
    --notification-cross-bg: rgb(155, 74, 74);
    --notification-cross-txt: rgb(199, 199, 199);
    --notification-cross-hv: rgb(126, 67, 67);
    --notification-cross-hv-txt: rgb(255, 255, 255);
    --notification-tooltip-bg: rgb(20, 20, 20);
    --notification-tooltip-txt: rgb(199, 199, 199);
}

.notification{
    position: fixed;
    top: 0;
    background-color: var(--notification-bg);
    color: var(--notification-txt);
    font-weight: 700;
    font-family: 'Quicksand';
    font-size: 1vw;
    z-index: 1002;
    
    width: 100vw;
    height: 6.5vh;
    
    padding: 1vw 2vw 1vw 2vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 1) 0 -.3vw 1vw;
    
    > a{
        background-color: var(--notification-cross-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3vw;
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 50%;
        color: var(--notification-cross-txt);
        text-decoration: none;
        cursor: pointer;
    }

    > a:hover{
        background-color: var(--notification-cross-hv);
        color: var(--notification-cross-hv-txt);
    }

    > p > a{
        background-color: var(--notification-cross-bg);
        padding: .25vw .5vw;
        border-radius: .5vw;
        cursor: pointer;
    }

    > p > a:hover{
        background-color: var(--notification-cross-hv);
        color: var(--notification-cross-hv-txt);
    }

    &.visible{
        transform: translateY(0);
        transition: all ease-in-out .2s;
    }
    
    &.visible-no{
        transform: translateY(-150%);
        transition: all ease-in-out .2s;
    }
}

.notification-tooltip {
    position: fixed;
    background-color: var(--notification-tooltip-bg);
    color: var(--notification-tooltip-txt);
    padding: 0.5vw 1vw;
    border-radius: 0.4vw;
    font-family: 'Quicksand';
    
    opacity: 0;
    pointer-events: none;
    z-index: 1003;

    transition: opacity 0.3s ease;

    &.visible {
        opacity: 1;
    }

    &.fade-out {
        opacity: 0;
    }
}